*, *::before, *::after{
    box-sizing: border-box;
    
}
html{
    margin: 0;
    padding: 0;
}

ul, li{
    padding: 0;
}

ul{
    list-style-type: none;
}

li{
    background: url('../resources/Extra/icons8-arrow-24.png')  no-repeat left top;
    padding-left: 4rem;
}

.container-fluid{
    padding: 3% 7%;
    @include respond(tab-port){
        padding: 3% 3%;
    }
    &-small{
        padding: 0% 7%;
    }
    &-large{
        padding: 3% 25%;
        @include respond(tab-land){
            padding: 3% 20%;
        }
        @include respond(tab-port){
            padding: 3% 15%;
        }
        @include respond(phone){
            padding: 3% 3%;
        }
    }
}

.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}