// This applies for screen over 90rem
@media (min-width:900px){
    

//Navbar
.navbar-body{
    width: 100%;
    overflow-x: hidden;
    padding: 0rem 7.5rem 0rem 7.5rem;
    overflow: visible;
    margin: 2rem 0rem;
}
.navbar-link-div{
    max-width: 130rem;
    margin-left: auto;
    margin-right:auto;
}
.navbar-link-menu-item{
    padding-left: 3rem;
    padding-right: 3rem;

}
 
//Body ******************

.page-body{
    max-width: 100rem;
    margin-left: auto;
    margin-right:auto;
}

//Home
.react-slideshow-fade-wrapper{
    max-height: 140rem;
}

.slide-div-info{
    border: 1 solid grey;
    background-color:rgba(255, 255, 255, 0.7);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom : 40rem;
    text-align: center;
    width: 55rem!important;
}

.slide-div-info a{
    color: black;
    opacity: 0.7;
    display: inline-block;
    margin: 1rem 0rem;
}

.slide-div-button{
    text-align: center;
    font-size: 1.8rem;
    font-family: Barlow-Medium;
    background-color:rgba($color-primary, 1); //salmon pink
    padding: .5rem 3rem;
    display: inline-block;
    margin-top: 2rem;
    border-color: $color-primary;
    border-radius: 1.5em;
    color: darkblue;
    height: 4rem;
    border: 2px transparent solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.3s;
}

.slide-div-button:hover{
    text-decoration: none;
    border: 2px $color-primary solid;
    background-color:transparent
}


.slide-div-info a:hover{
    color: $color-primary;
    text-decoration: none;
}

.slide-div-info-title{
    color: $color-primary;
    font-size: 3rem;
    font-family: Barlow-Medium;
    font-weight: bolder;
}

.slide-div-info-info{
    color: $color-black;
    font-size: 2rem;
    font-family: Barlow-Medium;
    margin-top:auto;
    margin-bottom:auto;
}


.slide-container{
    position: relative;
}

#counties-img{
    height: 30rem;
    width: auto!important;
}

//Counties Component
#counties-img{
    width: 50rem!important;
}

//career page 
#career-page-body{
    width: 70rem;
    margin-left:auto;
    margin-right:auto;
}
.career-img{
    max-width: 70rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
}
//Contact us page
#contactus-page-body{
    width: 120rem;
    margin-left:auto;
    margin-right:auto;
}
//Intake Requests Page
#intake-page-body{
    width: 80rem;
    margin-left:auto;
    margin-right:auto;
}

.intake-page-body-form{
    width: 60rem;
    margin-left:auto;
    margin-right:auto;
}

//Services
h4{
    font-family: Barlow-Medium; 
    font-weight: bold;
}


}