// This applies for screen between 0rem to 60rem
// Ex. Smartphones

@media (min-width:0px){


// Main ********************************************************
// Body
.body {
    width: 100%;
    background-color: white;
    z-index: 1;
    font-family: Barlow;
}
@font-face{
    font-family:Barlow-Medium;
    src: url(../resources/Extra/Barlow/Barlow-Medium.ttf);

}

@font-face{
    font-family:Barlow;
    src: url(../resources/Extra/Barlow/Barlow-Thin.ttf);
}

@font-face{
    font-family:Barlow-SemiBold;
    src: url(../resources/Extra/Barlow/Barlow-SemiBold.ttf);

}

.page-title{
    padding: 2.5rem 0rem 2.5rem 0rem;
    background-color: #ffaea5;
    display: flex;
    flex-wrap: wrap;
    flex-flow: center;
}

.page-title-p{
    font-family: Barlow-Medium;
    margin-top:auto;
    margin-bottom:auto;
    font-size: 3rem;
    font-weight: bolder;
    text-align:center;
    width: 100%;
    font-weight:bolder;
}

.page-body a:link, .page-body a:visited{
    text-decoration: none;
    color: black;
    
}
.page-body a:hover{
    text-decoration: underline;
    color: blue;
}

.page-body{
    padding: 0rem 2.5rem 5rem 2.5rem;
    font-size: 2rem;
    font-weight: bolder;
}


//Main Page
.image-container{
    width: 100%;
    max-height: 80rem;
}
.image-container-image{
    width: 100%;
}

.slide-div-info{
    border: 1px solid grey;
    background-color:rgba($color-white, 0.7);
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.slide-div-info a{
    color: black;
    opacity: 0.7;
    display: inline-block;
    margin: 1rem 0rem;
}

.slide-div-button{
    text-align: center;
    font-size: 1.8rem;
    font-family: Barlow-SemiBold;
    background-color:rgba(255, 150, 138, 1); //salmon pink
    padding: .5rem 3rem;
    display: inline-block;
    margin-top: 2rem;
    border-color: #ff968a;
    border-radius: 1.5em;
    color: darkblue;
    height: 4rem;
    border: 2px transparent solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.3s;
    //
    font-weight: bolder;
}

.slide-div-button:hover{
    text-decoration: none;
    border: 2px #ff968a solid;
    background-color:transparent
}


.slide-div-info a:hover{
    color: #ff968a;
    text-decoration: none;
}

.slide-div-info-title{
    color: #ff968a;
    font-size: 3rem;
    font-family: Barlow-Medium;
    font-weight: bolder;
}

.slide-div-info-info{
    color: black;
    font-size: 1.8rem;
    font-family: Barlow-SemiBold;
    margin-top:auto;
    margin-bottom:auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    //
    font-weight: bolder;
}


.slide-container{
    position: relative;
}

//Mission Page
#page-body-mission{
    margin-top: 4rem;
    text-align: center;
}

#mission-img{
    width: 60rem;
    padding: 2.5rem;
    border-radius: 4rem;
}

//About Us Page

#page-body-about{
    margin-top: 4rem;
}

#about-us-img{
    width: 35rem;
    padding: 2.5rem;
    float:right;
}

//Career Page
#career-body{
    text-align: center;
    font-family: Barlow-SemiBold;
}

.career-img{
    width: 100%;
    margin-bottom: 5rem;
    border-radius: 1rem;
}

#career-page-body{
    margin-top: 5rem;
}

//Contact Us Page

.required{
    color:red;
}
.cu-btn{
    padding: .5rem 2.5rem;
    background-color: #ff968a;
    border: 1px solid #ff968a;
    float:left;
    border-radius: 0;
    transition: 0.3s;
    color: black;
    font-weight: bolder;
}
.cu-btn:hover{
    background-color: inherit;
    border: 1px solid #ff968a;
    color: #ff968a;
    border-radius: 0;
}
#contactus-page-body{
    font-family: Barlow-SemiBold;
    font-size: 1.6rem;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
#contactus-page-body p, #contactus-page-body label{
    margin-bottom: 0rem;
}

#contactus-page-body label{
    margin-top: 1.5rem;
}

#cu-name, #cu-email, #cu-msg{
    border-radius: 0;
    font-weight: bold;
    
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

//Services Page
#services-body h4{
    font-weight:bold
}
#services-body{
    font-family: Barlow-SemiBold;
    font-size: 1.6rem;
}

#services-body p{
    margin-bottom: 0rem;
}

.services-img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.services-img img{
    width: 100%;
    max-width: 50rem;
}


//Request Visit
.radiobuttons{
    display:flex;
    flex-direction: row;
}

.radiobuttons .form-check{
    padding-top: auto;
    padding-bottom: auto;
}

input, select, .custom-select{
    font-weight: 1000!important;
}
#intake-page-body{
    font-size: 1.6rem;
}
.form-section{
    border: 1px solid grey;
    padding: 2rem 2rem;
    margin-bottom: 1.5rem;
}
.form-row{
    padding-bottom: 1.5rem;
}
legend {
    display: inline!important;
    font-size:1.6rem!important;
    text-align:left;
    width: initial!important;
}

.form-section input, .form-section textarea, .form-section select{
    margin-top:auto;
    margin-bottom:auto;
    border-radius: 0rem;
}

#intake-page-body p, #intake-page-body{
    font-family: Barlow-SemiBold;
    margin-bottom: 0rem;
}

.intake-page-body-form{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
.form-text-box{
    margin-top:auto;
    margin-bottom:auto;
}
.intake-page-body-form label{
    margin-top:auto;
    margin-bottom:auto;
}
.hha_form{
    margin-bottom: 1.5rem;
}

/* Modal Header */
.modal-header {
    padding: 0.2rem 1.6rem;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: .2rem 1.6rem;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 0.2rem 1.6rem;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 .4rem .8rem 0 rgba($color-black,0.2),0 .6rem .2rem 0 rgba($color-black,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -30rem; opacity: 0}
    to {top: 0; opacity: 1}
  }

// Home ***

.home-section-cols{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8rem;
    // font-weight: normal;
    font-weight: 60rem;
    font-family: Barlow-SemiBold;

}
.home-section-imgs {
    text-align: center;
    margin: auto;
}
.home-section-imgs img{
    width: 100%;
}
.home-section-title{
    color: rgba(255, 150, 138, 1);
    font-size: 3rem;
    // Who We Are
    font-weight: 40rem;
    font-family: Barlow-Medium;
}

.home-body-intro{
    justify-content: center;
    width: 80%;
}

#cordial-md-span-home{
    font-size: 3rem;
}

.home-welcome{
    font-size: 4rem;
    padding: 0rem;
    font-family: Barlow-Medium;
    // font-weight: normal;
    // Cordial Healthcare Providers
    font-weight: 60rem;
}

.home-welcome p{
    padding-bottom: 0rem;
}

#home-welcome-welcome{
    font-family: Barlow-Medium;
    //font-weight: normal;
    // Welcome to
    font-weight: 60rem;
    font-size: 3rem;
}

.col-lg-6{
    padding: 0rem!important;
}

// Covid Page
#page-body-covid{
    font-family: Barlow-SemiBold;
}

}