// This applies for screen between 0rem to 60rem
// Ex. Smartphones

@media (min-width:0px){



.page-body a:link, .page-body a:visited{
    text-decoration: none;
    color: black;
    
}
.page-body a:hover{
    text-decoration: underline;
    color: blue;
}

.page-body{
    padding: 0rem 2.5rem 5rem 2.5rem;
    font-size: 2rem;
    font-weight: bolder;
}



//About Us Page

#page-body-about{
    margin-top: 4rem;
}

#about-us-img{
    width: 35rem;
    padding: 2.5rem;
    float:right;
}


//Contact Us Page

.required{
    color:red;
}
.cu-btn{
    padding: .5rem 2.5rem;
    background-color: #ff968a;
    border: 1px solid #ff968a;
    float:left;
    border-radius: 0;
    transition: 0.3s;
    color: black;
    font-weight: bolder;
}
.cu-btn:hover{
    background-color: inherit;
    border: 1px solid #ff968a;
    color: #ff968a;
    border-radius: 0;
}
#contactus-page-body{
    font-size: 1.6rem;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
#contactus-page-body p, #contactus-page-body label{
    margin-bottom: 0rem;
}

#contactus-page-body label{
    margin-top: 1.5rem;
}

#cu-name, #cu-email, #cu-msg{
    border-radius: 0;
    font-weight: bold;
    
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

//Request Visit
.radiobuttons{
    display:flex;
    flex-direction: row;
}

.radiobuttons .form-check{
    padding-top: auto;
    padding-bottom: auto;
}

input, select, .custom-select{
    font-weight: 1000!important;
}
#intake-page-body{
    font-size: 1.6rem;
}
.form-section{
    border: 1px solid grey;
    padding: 2rem 2rem;
    margin-bottom: 1.5rem;
}
.form-row{
    padding-bottom: 1.5rem;
}
legend {
    display: inline!important;
    font-size:1.6rem!important;
    text-align:left;
    width: initial!important;
}

.form-section input, .form-section textarea, .form-section select{
    margin-top:auto;
    margin-bottom:auto;
    border-radius: 0rem;
}


.intake-page-body-form{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
.form-text-box{
    margin-top:auto;
    margin-bottom:auto;
}
.intake-page-body-form label{
    margin-top:auto;
    margin-bottom:auto;
}
.hha_form{
    margin-bottom: 1.5rem;
}

/* Modal Header */
.modal-header {
    padding: 0.2rem 1.6rem;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: .2rem 1.6rem;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 0.2rem 1.6rem;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 .4rem .8rem 0 rgba($color-black,0.2),0 .6rem .2rem 0 rgba($color-black,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -30rem; opacity: 0}
    to {top: 0; opacity: 1}
  }



}