// This applies for screen between 0rem to 60rem
// Ex. Smartphones

@media (min-width:0px){




/* Modal Header */
.modal-header {
    padding: 0.2rem 1.6rem;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: .2rem 1.6rem;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 0.2rem 1.6rem;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 .4rem .8rem 0 rgba($color-black,0.2),0 .6rem .2rem 0 rgba($color-black,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -30rem; opacity: 0}
    to {top: 0; opacity: 1}
  }



}