
//Contact Us Page

.required{
    color:red;
}

#cu-msg{
    height: 30rem;
}
#cu-name, #cu-email, #cu-msg{
    font-size: $font-med;
    border-radius: 0;
    
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }
