
//Request Visit
.radiobuttons{
    display:flex;
    flex-direction: row;
}

.radiobuttons .form-check{
    padding-top: auto;
    padding-bottom: auto;
}

.form-section{
    border: 1px solid grey;
    padding: 2rem 2rem;
    margin-bottom: 1.5rem;
}

.form-row{
    padding-bottom: 1.5rem;
}

legend {
    display: inline!important;
    font-size:1.6rem!important;
    text-align:left;
    width: initial!important;
}

.form-text-box input{
    height: 3rem;
}

.form-text-box input, label{
    font-size: $font-med;
}