// This applies for screen between 0px to 600px
// Ex. Smartphones

@media (min-width:0px){



//Top Info *******************************************************

.topinfo-body{
    padding: 5px 50px 5px 0px;
    font-size: 14px;
    text-align: right;
    background-color: #ad343e;
}
.topinfo-body p{
    margin-top: auto;
    margin-bottom: auto;
}
.topinfo-body span{
    font-weight: bold;
}
.topinfo-body a:link, .topinfo-body a:visited{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.topinfo-body  a:hover{
    text-decoration: none;
    color: white;
}

.topinfo-icons{
    position: relative;
    top: -3px;
}

// Navbar ********************************************************

.navbar-body{
    width: 100%;
    padding: 0px 10px 0px 10px;
    font-family: Barlow;
    font-weight:bold;
}

.navbar{
    width:100%;
}

.navbar-logo-div1{
    text-align: center;
}

.navbar-logo1{
    height: 50px;
    margin-top:auto;
    margin-bottom:auto;
}
.navbar-logo2{
    height: 80px;
}

.navbar-link-div{
    width: 100%;
    height:100%;
    margin-top:auto;
    margin-bottom:auto;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-link-ul{
    height: 100%;
    width: 75%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.dropdown-item{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 18px;
    border: 0px;

    border-bottom: 1px solid #e5e5e5!important;
    z-index: 10;
    overflow: visible;
    font-family: Barlow-Medium;
}

.nav-link{
    color: black!important;
    font-weight:normal;
}

.navbar-link-menu-item{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.navbar-toggler{
    border: 0px;
}
#navbarToggler{
    width: 100%;
    margin-top: 0px;
    border-top: 2px solid #3E62AE;
    overflow: visible;
    z-index:  10;
    position:absolute;
}
.navbar-link-items a:link, .navbar-link-items a:visited{
    font-family:Barlow-Medium;
    font-weight: normal;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}
.navbar-link-items a:hover{
    color: #ff968a;
}


// Main ********************************************************
// Body
.body {
    width: 100%;
    background-color: white;
    z-index: 1;
    font-family: Barlow;
}
@font-face{
    font-family:Barlow-Medium;
    src: url(../resources/Extra/Barlow/Barlow-Medium.ttf);

}

@font-face{
    font-family:Barlow;
    src: url(../resources/Extra/Barlow/Barlow-Thin.ttf);
    

}

.page-title{
    padding: 25px 0px 25px 0px;
    background-color: #ffaea5;
    display: flex;
    flex-wrap: wrap;
    flex-flow: center;
}

.page-title-p{
    font-family: Barlow-Medium;
    margin-top:auto;
    margin-bottom:auto;
    font-size: 30px;
    font-weight: bolder;
    text-align:center;
    width: 100%;
    font-weight:bolder;
}

.page-body a:link, .page-body a:visited{
    text-decoration: none;
    color: black;
    
}
.page-body a:hover{
    text-decoration: underline;
    color: blue;
}

.page-body{
    padding: 0px 25px 50px 25px;
    font-size: 20px;
    font-weight: bolder;
}


//Main Page
#root, .main-body{
    height: 50%;
}
html, body{
    height: 100%
}
.image-container{
    width: 100%;
    max-height: 800px;
}
.image-container-image{
    width: 100%;
}
// .slide-div-info{
//     border: 1px solid grey;
//     background-color: white;
//     opacity: .7;
//     position:absolute;
//     left:100px;
//     top: 100px;
//     padding: 15px 15px;
// }


.slide-div-info{
    border: 1px solid grey;
    background-color:rgba(255, 255, 255, 0.7);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.slide-div-info a{
    color: black;
    opacity: 0.7;
    display: inline-block;
    margin: 10px 0px;
}

#slide-div-button{
    text-align: center;
    font-size: 18px;
    font-family: Barlow-Medium;
    background-color:rgba(255, 150, 138, 1); //salmon pink
    padding: 5px 30px;
    display: inline-block;
    margin-top: 20px;
    border-color: #ff968a;
    border-radius: 1.5em;
    color: darkblue;
    height: 40px;
    border: 2px transparent solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.3s;
}

#slide-div-button:hover{
    text-decoration: none;
    border: 2px darkblue solid;
    background-color:transparent
}


.slide-div-info a:hover{
    color: #ff968a;
    text-decoration: none;
}

.slide-div-info-title{
    color: #ff968a;
    font-size: 30px;
    font-family: Barlow-Medium;
    font-weight: bolder;
}

.slide-div-info-info{
    color: black;
    font-size: 18px;
    font-family: Barlow-Medium;
    margin-top:auto;
    margin-bottom:auto;
    padding-left: 15px;
    padding-right: 15px;
}


.slide-container{
    position: relative;
}

//Counties Component
#counties-img{
    width: 100%;
}
.page-counties-body-col{
    margin: auto;
}

.page-counties{
    background-color: #cae9ff;
    padding: 50px 75px;
}
.page-counties-header{
    text-align:left;
}

.page-counties-header{
    padding-bottom: 25px;
    font-size: 40px;
    color:black;
}
.page-counties-body{
    font-weight: bolder;
    font-size: 20px;
    color:black;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;

}

.page-counties-body a{
    text-decoration: none;
    color:black;
}

.page-counties-body a:hover{
    text-decoration: none;
    color:blue;
}

.page-counties-body ul{
    list-style-image: url("../resources/Extra/checkmark.png");
}

//Mission Page
#page-body-mission{
    margin-top: 40px;
    text-align: center;
}

#mission-img{
    width: 600px;
    padding: 25px;
    border-radius: 40px;
}

//About Us Page

#page-body-about{
    margin-top: 40px;
}

#about-us-img{
    width: 350px;
    padding: 25px;
    float:right;
}

//Career Page
#career-body{
    text-align: center;
}

.career-img{
    height: 400px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#career-page-body{
    margin-top: 50px;
}

//Contact Us Page

.required{
    color:red;
}
.cu-btn{
    padding: 5px 25px;
    background-color: #ff968a;
    border: 1px solid #ff968a;
    float:left;
    border-radius: 0;
    transition: 0.3s;
    color: black;
    font-weight: bolder;
}
.cu-btn:hover{
    background-color: inherit;
    border: 1px solid #ff968a;
    color: #ff968a;
    border-radius: 0;
}
#contactus-page-body{
    font-size: 16px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
#contactus-page-body p, #contactus-page-body label{
    margin-bottom: 0px;
}

#contactus-page-body label{
    margin-top: 15px;
}

#cu-name, #cu-email, #cu-msg{
    border-radius: 0;
    font-weight: bold;
    
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

//Services Page
#services-body h4{
    font-weight:bold
}
#services-body{
    font-size: 16px;
}
.services-img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.services-img img{
    width: 100%;
    max-width: 500px;
}

//Intake Page
.radiobuttons{
    display:flex;
    flex-direction: row;
}

.radiobuttons .form-check{
    padding-top: auto;
    padding-bottom: auto;
}

input, select, .custom-select{
    font-weight: 1000!important;
}
#intake-page-body{
    font-size: 16px;
}
.form-section{
    border: 1px solid grey;
    padding: 20px 20px;
    margin-bottom: 15px;
}
.form-row{
    padding-bottom: 15px;
}
legend {
    display: inline!important;
    font-size:16px!important;
    text-align:left;
    width: initial!important;
}

.form-section input, .form-section textarea, .form-section select{
    margin-top:auto;
    margin-bottom:auto;
    border-radius: 0px;
}

#intake-page-body p, #intake-page-body{
    margin-bottom: 0px;
}

.intake-page-body-form{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
.form-text-box{
    margin-top:auto;
    margin-bottom:auto;
}
.intake-page-body-form label{
    margin-top:auto;
    margin-bottom:auto;
}
.hha_form{
    margin-bottom: 15px;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

// Footer ********************************************************
.footer-body{
    height:100%;
    font-family: Barlow;
    font-weight: bolder;
}
.footer-container{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    background-color: #1d3557;
    padding: 50px 75px 50px 75px;
}

.footer-container-collumns{
    width: 250px;
    color:white;
    padding-bottom: 75px;
    font-size: 15px;
}
.footer-container-collumns a:link, .footer-container-collumns a:visited{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.footer-container-collumns a:hover{
    text-decoration: underline;
    color: rgb(115, 115, 255);
}

.footer-link:link, .footer-link:visited{
    text-decoration: none;
    color: white;
    font-size: 15px;
}



.footer-rights-reserved{
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color:white;
    color:black;
    height: 40px;
    font-size: 10px;
}

#footer-img{
    padding:25px;
    width: 200px;
    filter: grayscale(100%);
}

// Home ***

.home-section-cols{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: normal;
    font-family: Barlow-Medium;
}
.home-section-imgs {
    text-align: center;
    margin: auto;
}
.home-section-imgs img{
    width: 70%;
}
.home-section-title{
    color: rgba(255, 150, 138, 1);
    font-size: 30px;
}

.home-body-intro{
    justify-content: center;
    width: 80%;
}

#cordial-md-span-home{
    font-size: 30px;
}

.home-welcome{
    font-size: 40px;
    padding: 75px 0px 0px 0px;
    font-family: Barlow-Medium;
    font-weight: normal;
}

.home-welcome p{
    padding-bottom: 0px;
}

#home-welcome-welcome{
    font-family: Barlow-Medium;
    font-weight: normal;
    font-size: 30px;
}


}