// Colors

$color-header:  white;
$color-page-title:  #aafac8ff;
$color-desc: #7ebc89ff;
$color-footer: #54422fff;
$color-primary: #aafac8ff;
$color-secondary: #7ebc89ff;
$color-white: white;
$color-black: black;
$color-black2: rgba(black, 0.85);
$color-brown: #54422fff;
$color-sand: rgba(246,244,238,1);

$green: #4f9d69;
$cafe-noir: #54422fff;
$dark-sea-green: #7ebc89ff;
$celadon: #a7e8bdff;
$magic-mint: #aafac8ff;
$honeydew: #eff8e2ff;

// Font sizes
$font-small: 1rem;
$font-med: 1.4rem;
$font-xmed: 1.8rem;
$font-large: 2rem;
$font-xlarge: 4rem;

// padding

$padding-left: 5%;

// Loader
$loader-height: 1.5rem;