

.page-counties{
    font-family: Barlow-SemiBold;
    font-weight: normal;
    font-size: 2rem;
    color:black;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    background-image: url("../resources/StockImages/counties-small.png");
    background-image: image-set(  url("../resources/StockImages/counties-small.png") 1x, url("../resources/StockImages/counties-large.jpg") 2x);
    background-image: image-set(  url("../resources/StockImages/counties-small.png") 900w, url("../resources/StockImages/counties-large.jpg") 2048w);
    background-image: -webkit-image-set(  url("../resources/StockImages/counties-small.png") 900w, url("../resources/StockImages/counties-large.jpg") 2048w);
    background-image: -webkit-image-set(  url("../resources/StockImages/counties-small.png") 1x, url("../resources/StockImages/counties-large.jpg") 2x);
    background-size: cover;
    background-position: bottom;
    &__header{
        text-align:left;
        padding-bottom: 2.5rem;
        font-size: 4rem;
        color:black;
    }
    &__body{
        & a{
            text-decoration: none;
            color:$color-black;
            &:hover{
                text-decoration: none;
            color:blue;
            }
        }
        & ul{
            list-style-image: url("../resources/Extra/checkmark.png");
        }
    }
    & div:last-child{
        margin: auto;
    }
}