

.page-counties{
    height: 50rem;
    @include respond(tab-port){
        height: 40rem;
    }
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    background-image: url("../resources/StockImages/counties-small.png");
    background-image: image-set(  url("../resources/StockImages/counties-small.png") 1x, url("../resources/StockImages/counties-large.jpg") 2x);
    background-image: image-set(  url("../resources/StockImages/counties-small.png") 900w, url("../resources/StockImages/counties-large.jpg") 2048w);
    background-image: -webkit-image-set(  url("../resources/StockImages/counties-small.png") 900w, url("../resources/StockImages/counties-large.jpg") 2048w);
    background-image: -webkit-image-set(  url("../resources/StockImages/counties-small.png") 1x, url("../resources/StockImages/counties-large.jpg") 2x);
    background-size: cover;
    background-position: bottom;
    & div{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba($green, 0.7), rgba($color-primary, 0.7));

        & ul li{
            background: url('../resources/Extra/icons8-checked-checkbox-24.png')  no-repeat left top;
        }
    
    }
    & div:last-child{
        margin: auto;
    }
    // Change color white
    & h1, & p, & a, & li{
        color:white;
    }

}