// Footer ********************************************************

.footer{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    background-color: $color-footer;
    .footer__collumn{
        width: 25rem;
        color:white;
        padding-bottom: 7.5rem;
        & a:link, & a:visited{
            text-decoration: none;
            color: white;
        }
        & a:hover{
            text-decoration: underline;
            color: $color-primary;
        }
    }
    
}
.footer-link:link, .footer-link:visited{
    text-decoration: none;
    color: $color-white;
}

.footer--rights-reserved{
    text-align: center;
    background-color:$color-black2;
    color: $color-white;
    height: 4rem;
}
.footer-item{
    background: none;
    padding: 0;
}
